@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #BEEBB5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 20px 10%;
    background:#beebb5c0 ;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    white-space: nowrap;
    
}


.logo{
    font-weight: 300;
    cursor: pointer;
    font-size: 20px;

}

.logo span{
    color: #657D60;
    
}


li a{
    text-decoration: none;
    color: #657D60;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    
}

section.hero{
    display: flex;
    max-height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(#BEEBB5, #657D60);
    gap: 16px;
    flex: 0;
    flex-wrap: wrap;
    
}

.hero-content{
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
}

.hero-text{
    flex: 1 1 50%;
    align-self: center;
    
}

.hero-text span{
    color: #657D60;
    font-weight: 300;
}

.hero h1{
    
    color: white;
    font-size: 48px;
}

.hero p{
    width: 60%;
    color: white;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 16px;
    
    
}

.hero-text button{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #657D60;
    border: 2;
    border-color: white;
    border-radius: 16px;
    padding: 10px;
    box-shadow: #beebb5;
    color: white;
}

button:hover{
   background-color: #BEEBB5 ;
   cursor: pointer;
}

.hero img{
    align-self: center;
    box-shadow: 0 4px 10px;
    
}

section.main-content{
    text-align: center;
    padding: 60px 20px;
    height: fit-content;
     background: linear-gradient(#657D60, #BEEBB5);

}

.main-content h2{
    margin-bottom: 50px;

}

.info-images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    
}

.info-image1{
    height: ;
}